 
     td {    
         padding: 0.2em 1em;    
     }    
  
     th {    
         text-align: center;    
     }    
  
     thead {    
         border-bottom: 2px solid black;    
         cursor: pointer;    
     }    
 